#hero_img {
  background-image: url('/images/HERO_IMAGE_STEAK.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -12.5rem;
  height: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.heroTitle {
  font-size: 2rem;
  margin: 0 1rem;
  text-align: center;
}
.beige{
  background-color: beige;
}
.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.flex {
  display: flex;
  justify-content: center;
}

.margin {
  margin: 0 0.5rem;
}
.customButton {
  width: 100%;
  border-radius: 1.5rem;
  margin-top: 0.5rem;
}

.contactInfoContainer {
  display: flex;
  justify-content: space-around;
  div {
    text-align:center
  }
}

.cardImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#conceptImage {
  background-image: url('/images/ramen_salad.png');
}
#pastaImage {
  background-image: url('/images/pasta.png');
}
#cakeImage {
  background-image: url('/images/cake.png');
}

.marginTop {
  margin-top: 1rem;
}

.filler {
  height: 100px;
}
.facebookPlaceHolder {
  max-width: 100%;
  max-height: 100%;
}

.hours{
  div {
    display:flex;
    justify-content: space-between;
    min-width:178px;
  }
}